* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

.container{
    width: 960px;
    margin: 30px;
}



nav{
    height: 80px;
    background-color: navy;
    line-height: 80px;
}

.nav-logo {
    font-size: 50px;
    float: left;
    margin: 0px;
}

.nav-menu{
    float: right;
    margin: 0;
}

.nav-btn{
    list-style-type: none;
    margin: 0;
    color: white;
}

ul.nav-btn> li {
    float: left;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

nav::after{
    content: "";
    display: block;
    clear: both;
}

.hd{
    position: relative;
    height: 600px;
    text-align: center;
}

.hd-title{
    font-size: 150px
    margin-top: 0;
    margin-bottom: 30px
    padding-top: 200px

}

.hd-content{
    font-size: 15px
}

